<html>
<head><link rel="icon" type="image" href="http://img.picturequotes.com/2/550/549782/enjoy-life-quote-1.jpg">
<title>exam</title>
<link rel="stylesheet" type="text/css" href="./exam.css">
<!-- <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet"> -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

</head>
<body>
	<div class="one">
		<div class='a'>
			<h1>Stylish Portfolio</h1>
			<p>A Free Bootstrap Theme by Start Bootstrap</p>
			<input type="submit" class="button1" align="center" value="Find Out More">
		</div>
		<div class='b'>
			<b>Stylish Portfolio is the perfect theme for your next project!</b>
			<p><font size='2'>This theme features a flexible UX friendly menu and stock photos from our friends</font> </p>
			<input type="submit" class="button2" align="center" value="What We Offer">
		    	<!-- <span class="search"><i class="fa fa-search"></i></span> -->
		</div>
		<div class='c'>
			<p class='e'>SERVICES</p>
			<h1>What We Offer</h1>
			<div class='d'>
			<ul>
			<li><a href="www.google.com"><i class="fas fa-mobile-alt"></i></a>
			<p>Responsive</p><p><font size='2'> Looks great on any screen size!</font></p> </li>
			 <li><a href="www.google.com"><i class="fas fa-pencil-alt"></i></a>
			<p>Redesigned</p><p><font size='2'> Freshly redesigned for Bootstrap 4</font></p></li>
			<li><a href="www.google.com"><i class="far fa-thumbs-up"></i></a>
			<p>Favorited</p><p><font size='2'> Millions of users start Bootstrap!</font></p></li>
			<li><a href="www.google.com"><i class="far fa-question-circle" width="50px"></i></a>
			<p>Question</p><p><font size='2'> I mustache you a question....</font></p> </li>
		</ul>
		</div>
	</div>
</div>