<!DOCTYPE html>
<html lang="en">
 
<head >
    <title>Basic Form</title>
</head>
 <body  style="padding-top: 60px;background-color: #f5f7f8 !important;">
        <h2>Form</h2>
        <form action="" method="post"><input type='hidden'/>
             {%csrf_token %}
        <label>name </label>
        <input type="text"  name="name">
        <label> last name  </label>
        <input type="text"  name="lastname">
        <label> phone number   </label>
        <input type="text"  name="phone">
        <label> mobile number  </label>
        <input type="text"  name="mobile">
        <label> address   </label>
        <input type="text"  name="address">
        <button type="submit">submit</button>
      </form>
                  
                </form>
 
</body>
 
</html>